MINIMAX_API_KEY=
MINIMAX_TTS_MODEL=speech-2.8-hd
MINIMAX_TTS_VOICE_ID=Chinese (Mandarin)_Laid_BackGirl
MINIMAX_TTS_MIX=
MINIMAX_TTS_SPEED=1.12
MINIMAX_TTS_EMOTION=
MINIMAX_EN_API_KEY=
MINIMAX_EN_TTS_MODEL=speech-2.8-hd
MINIMAX_EN_TTS_ENDPOINT=https://api.minimax.io/v1/t2a_v2
MINIMAX_EN_TTS_VOICE_ID=English (United States)_Amy
MINIMAX_EN_TTS_MIX=
MINIMAX_EN_TTS_SPEED=1.12
MINIMAX_EN_TTS_EMOTION=
MINIMAX_AUDIO_KEY=
MINIMAX_AUDIO_TTS_MODEL=speech-2.8-hd
MINIMAX_AUDIO_TTS_ENDPOINT=https://api.minimax.io/v1/t2a_v2
MINIMAX_AUDIO_TTS_VOICE_ID=Chinese (Mandarin)_Laid_BackGirl
MINIMAX_AUDIO_TTS_MIX=
MINIMAX_AUDIO_TTS_SPEED=1.08
MINIMAX_AUDIO_TTS_EMOTION=
MINIMAX_AUDIO_KEY=
